.featurescard
    float: left
    width: 96%
    min-width: 45%
    min-height: 80%


.avatar
    padding: 2px

.controlsrow
    min-height: 40px


.control-button
    float: left
    margin-right: 16px
    margin-left: 16px
