.avatar
    padding: 2px

.poolspa-card
    float: left
    width: 100%
    min-width: 45%
    min-height: 80%
    margin-left: 5px
    margin-right:5px

.actions-line
    margin-left: 20px
.control-button
    float: left
    margin-right: 16px
    margin-left: 16px

.body-active
    color: #002fca

.power-active
    color: #228b22
.heater-active
    color: #f00
.cooler-active
    color: #0370e5

.header-space
    // padding-left: 5px
    padding-right: 10px

.water-blue
    color: #4169e1