<h3 class='heater-header'>Heater:</h3>
<span>
  <mat-slider
    [(value)]=body.heater.setpoint.current
    (change)="tempSliderMoved($event, body?.name)"
    displayValue="Heater Setpoint"
    class="mat-slider"
    disabled="false"
    max={{body.heater.setpoint?.max}}
    min={{body.heater.setpoint?.min}}
    step="1"
    thumbLabel="Heat Setpoint"
    tickInterval="auto"
    vertical="false"
  >
  </mat-slider>
  {{body.heater.tempScale}}
<span class=temp-display>{{body.heater.setpoint?.current}}°{{body.tempScale}}</span>
<span class="local-spacer"></span>
<mat-button-toggle-group #group='matButtonToggleGroup' (change)='heatModeToggle(body.name, group.value)'>
    <mat-button-toggle checked='{{body.heater?.modeCode===0}}' value="0" aria-label="Heater Off">
      Off
    </mat-button-toggle>
    <mat-button-toggle checked='{{body.heater?.modeCode===3}}' ng-show='equipmentConfig?.heater'  value="3" aria-label="Heater On" ng-cloak>
      Heater
    </mat-button-toggle>
    <mat-button-toggle checked='{{body.heater?.modeCode===1}}' ng-show='equipmentConfig?.solar' value="1" aria-label="Solar On" ng-cloak>
      Solar
    </mat-button-toggle>
    <mat-button-toggle checked='{{body.heater?.modeCode===2}}' *ngIf='equipmentConfig?.solar' value="2" aria-label="Solar Pref." ng-cloak>
      Solar Pref.
    </mat-button-toggle>
</mat-button-toggle-group>
</span>
