.margin
    margin: 10px

.heater-header
    margin-top: 30px
.mat-slider
    width: 50%


.temp-input
    width: 5ch

.temp-display
    margin-left:20px
    margin-right: 20px
    font-weight: bold
    font-size: 125%

.local-spacer
  flex: 1 1 auto
